.main-Right {
    background-color: #FFFFFF;
    width: 100%; /* Full width */
    max-width: 100%; /* Limit max width */
    margin:auto; /* Center the container */
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

.Header-Navigation {
    display: flex;
    align-items: center; /* Center items vertically */
    justify-content: space-between; /* Space between items */
    padding: 16px 24px; /* Added padding for spacing */
    background-color: #33074F;
}

.main-dashboard-title {
    font-family: 'Inter', sans-serif; /* Font with fallback */
    font-size: 20px;
    font-weight: 600;
    line-height: 32px;
    color: rgb(138, 138, 138);
    margin: auto;

}

.notification-profile {
    display: flex;
    align-items: center; /* Center vertically */
}

.bell-icon {
    width: 24px;
    height: 24px;
    margin-right: 16px; /* Space between notification and profile */
}

.frame68 {
    display: flex;
    align-items: center; /* Center vertically */
}

.profile-icon {
    width: 40px;
    height: 40px;
}

.down-icon {
    width: 24px;
    height: 24px;
    margin-left: 8px; /* Space between profile and dropdown */
}

.divider-line {
    width: 100%; /* Full width */
    height: 1px;
    background: #EAECF0;
    margin: 0; /* No margin */
}

.rightPane-top-container{
    display: flex;
    flex-direction: row;
    padding: 16px;
    gap: 100px;
}

.rightPane-bottom-container {
    display: flex;
    flex-direction: row;
    padding: 16px; /* Added padding for spacing */
    gap: 16px; /* Space between task and activity/chart sections */
}

.task-comp {
    flex: 1; /* Take available space */
}


