.task-unit {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    padding: 12px 20px; 
    border-bottom: 1px solid #E4E7EC; /* Divider line */
    width: 100%; /* Full width */
    box-sizing: border-box; 
}

.icon-container {
    width: 24px; /* Adjust icon size */
    height: 24px;
}

.task-description {
    flex: 1; 
    margin-left: 12px; 
    font-family: 'Inter', sans-serif; /* Font with fallback */
    font-size: 14px;
    font-weight: 400;
    color: #000000;
}

.badge {
    background: #E8F5E9;
    border-radius: 16px;
    padding: 4px 12px; 
    display: flex;
    align-items: center; 
    justify-content: center; 
    width: 100px; 
}

.label-text {
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-weight: 500;
    color: #219653;
    text-align: center; 
    width: 100%;
}

.date {
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    color: #6B7280; 
    margin-left: 12px; 
}

.delete-icon {
    cursor: pointer; /* Change cursor on hover */
    width: 24px; 
    height: 24px;
    margin-left: 12px; /* Spacing from the date */
    color: #BC006D;
}

.taskUnits-Updatebutton{
    padding: 5px;
    border-color: rgb(76, 221, 247);
    border-radius: 10px;
    background-color: #52b3f0;
    color: white;
    font-size: 10px;
    font-weight: 500;
    cursor: pointer;
    align-self: center; /* Align button to the left */
    margin-top: auto;
    margin-left: 5px;
}